<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>UNO</title>
    </h:head>
    <h:body>
        <h2>Bienvenido jugador uno</h2>
        <style type="text/css">
            .ui-diagram-element {   
                width:8em; 
                height:4em;     
                line-height:4em;
                text-align: center;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
                border-radius: 2em;
                border: 1px solid transparent;
                background-color: #98AFC7;
                color: #ffffff;
            }

            .ui-diagram-success {
                background-color: #9CB071;
                color: #ffffff;
                border-color: #7ab02c;
            }

            .ui-diagram-fail {
                background-color: #C34A2C;
                color: #ffffff;
            }

            .flow-label {
                font-size: 24px;
                font-weight: bold;
                color: #816A51;
            }
        </style>


        <p:panelGrid columns="3">   
            <h:form>
                <p:panel>    
                    <p:growl id="gpErrores"/>
                    <br/>
                    <c:forEach var="fila" begin="1" end="#{controladorBatallaAplicacion.tamanioTableros}" >
                        <c:forEach var="columna" begin="1" end="#{controladorBatallaAplicacion.tamanioTableros}" >
                            <p:commandButton value="[#{fila},#{columna}]" 
                                             style="#{controladorBatallaAplicacion.pintarCoordenadas(fila, columna)}"
                                             
                                              />
                        </c:forEach>
                        <br/>

                    </c:forEach>
                </p:panel>
            </h:form>
            <h:form>  
                <p:panel>

                    <p:panelGrid columns="2">  
                        <p:outputLabel value="Ingrese Id de barco  "/>
                        <p:inputText value="#{controladorBatallaAplicacion.identificador}"/>
                        <p:outputLabel value="Fila"/>
                        <p:inputText value="#{controladorBatallaAplicacion.fila}"/>
                        <p:outputLabel value="Columna"/>
                        <p:inputText value="#{controladorBatallaAplicacion.columna}"/>
                        <p:outputLabel value="Vertical u orizontal"/>

                        <h:selectOneMenu id="txt2"    value="#{controladorBatallaAplicacion.verticalUhorizontal}" required="true" label="Text 2">
                            <f:selectItem itemLabel="Seleccione uno" itemValue="" noSelectionOption="true" />
                            <f:selectItem itemLabel="Vertical" itemValue="Vertical" />
                            <f:selectItem itemLabel="Horizontal" itemValue="Horizontal" />

                        </h:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton value="Posicionar" action="#{controladorBatallaAplicacion.posicionarBarcosPrimerJugador()}" update="@all" ajax="false"/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <p:commandButton style=" color: green " value="Pedir turno" update="@all" ajax="false"/>
                </p:panel>
            </h:form>
            
            
            
            
            
            <h:form>
                <p:panel rendered="#{controladorBatallaAplicacion.mostrarPanelDisparosUno}">
                <h4>Tablero de disparos</h4>
               <p:growl id="gpErrores"/>
                    <br/>
                    <c:forEach var="fila" begin="1" end="#{controladorBatallaAplicacion.tamanioTableros}" >
                        <c:forEach var="columna" begin="1" end="#{controladorBatallaAplicacion.tamanioTableros}" >
                            <p:commandButton value="[#{fila},#{columna}]" 
                                             style="width: 70px; height: 70px; background-color: blue;"
                                             action="#{controladorBatallaAplicacion.disparar(fila, columna)}"
                                             disabled="#{controladorBatallaAplicacion.verificarDisparo(fila, columna)}"
                                             update="@all" ajax="false" />
                        </c:forEach>
                        <br/>

                    </c:forEach> 
                
            </p:panel>
                <p:panel rendered="#{controladorBatallaAplicacion.panelPosicionandoUno}">
                     <h1>Posicione sus barcos por favor </h1>
                   <img src="barcos.jpg" style="height: 680px;"/> 
                    
                </p:panel>
                
                <p:panel rendered="#{controladorBatallaAplicacion.ganadorUno}" > 
                     
                     <h1>Enemigo derrotado </h1>
                 <img src="barco.jpg" style="height: 680px;"/>
                 
                 </p:panel>
            
            </h:form>
            
            
            
            
        </p:panelGrid> 
        
        
        
        <p:panel id="pnlDiagramN" header="Total Barcos Cargados" 
                 rendered="true">
            <p:diagram value="#{controladorBatallaAplicacion.model}" 
                       id="diagramaN"  style="height:600px" styleClass="ui-widget-content" />
        </p:panel>     
        <h:form>  
       
</h:form>
    </h:body>
</html>

