<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Batalla naval</title>
        <style type="text/css">
            .ui-diagram-element {   
                width:8em; 
                height:4em;     
                line-height:4em;
                text-align: center;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
                border-radius: 2em;
                border: 1px solid transparent;
                background-color: #98AFC7;
                color: #ffffff;
            }

            .ui-diagram-success {
                background-color: #9CB071;
                color: #ffffff;
                border-color: #7ab02c;
            }

            .ui-diagram-fail {
                background-color: #C34A2C;
                color: #ffffff;
            }

            .flow-label {
                font-size: 24px;
                font-weight: bold;
                color: #816A51;
            }
        </style>
    </h:head>
    <h:body>
        <p:growl id="grwErrores"/>
        <h:form>
            <p:commandButton rendered="#{controladorBatalla.botonAtras}" value="Atras" 
                             action="#{controladorBatalla.habilitarPanelBarcos()}"   update="@all" ajax="false" />
        </h:form>
        <p:panel rendered="#{controladorBatalla.mostrarPaneBarcos}">  
            <h:form>
                <p:commandButton value="Atras" rendered="#{!controladorBatalla.mostrarTablaNombres}"
                                 action="#{controladorBatalla.habilitarTablaNombres()}" update="@all" ajax="false"/>
            </h:form>
            <center>  
                <br/>
                <br/>
                <br/>
                <B>
                    <p:outputLabel rendered="#{controladorBatalla.mostrarTablaNombres}" 
                                   value="CREAR NOMBRES DE BARCOS"/>
                    <h1>  
                        <p:outputLabel rendered="#{!controladorBatalla.mostrarTablaNombres}" 
                                       value="CREAR BARCOS"/>
                    </h1>
                </B>
                <br/>
                <br/>
                <h:form>
                    <p:panelGrid  rendered="#{controladorBatalla.mostrarTablaNombres}" columns="3">
                        <p:outputLabel value="Nombre de barco"/>
                        <p:inputText required="true" value="#{controladorBatalla.nombre}" />
                        <p:commandButton value="Guardar" action="#{controladorBatalla.ingresarNombresBarcos()}" ajax="false" update="@all"/>
                    </p:panelGrid>




                    <p:panelGrid rendered="#{!controladorBatalla.mostrarTablaNombres}" columns="2">
                        <p:outputLabel value="Nombre de barco"/>

                        <p:selectOneMenu value="#{controladorBatalla.barco.nombre}">  

                            <f:selectItems value="#{controladorBatalla.listadoNombres}"
                                           var="nom"
                                           itemLabel="#{nom.nombre}"
                                           itemValue="#{nom.nombre}"                                          
                                           />
                        </p:selectOneMenu>
                       
                        
                        
                        
                       

                         <br/>
                         <br/>
                         <br/>
                        <h:form> 
                            <p:growl id="growl" showDetail="true" />


                            <h:panelGrid columns="1" style="margin-bottom: 10px">
                                <p:inputText  id="txt1" value="#{controladorBatalla.barco.numeroCasillas}" />
                                <p:slider maxValue="8" minValue="1" for="txt1" />
                            </h:panelGrid>
                        <p:outputLabel value="Numero de casillas"/>
                       

                         
                            
                            <h:panelGrid columns="2" cellpadding="5" styleClass="ui-grid"> 
                                <h:outputLabel for="basic" />
                                <p:spinner min="1" max="10" id="basic" value="#{controladorBatalla.barco.cantidadJuego}" />
                            </h:panelGrid>
                        
                         <p:outputLabel value="Numero de barco por tipo"/>
                        </h:form>

                    </p:panelGrid>
                    <p:commandButton action="#{controladorBatalla.guardarBarco()}" rendered="#{!controladorBatalla.mostrarTablaNombres}" value="Agregar" 
                                     update="@all" ajax="false"/>
                    <br/>
                    <p align="left"> <p:commandButton value="Aceptar" rendered="#{!controladorBatalla.mostrarTablaNombres}" 
                                                      action="#{controladorBatalla.inhabilitarPanelBarcos()}"  update="@all" ajax="false" /> </p>

                    <p align="left"> <p:commandButton value="llenar ArbolN" rendered="#{!controladorBatalla.mostrarTablaNombres}" 
                                                      action="#{controladorBatallaAplicacion.cargarJugadores()}"  update="@all" ajax="false" /> </p>
                                                      
                                                      
                                                      
                       <p:panel id="pnlDiagram" header="Barcos para jugar" 
                                rendered="#{controladorBatalla.mostrarArbolBarcosJugar}">
                           <p:diagram value="#{controladorBatalla.model}" 
                         id="diagrama"  style="height:400px" styleClass="ui-widget-content" />
            </p:panel>                                
                                                      
                  <p:panel id="pnlDiagramN" header="Total Barcos Cargados" 
                           rendered="#{controladorBatalla.mostrarPanelBarcosCargados}">
                      <p:diagram value="#{controladorBatallaAplicacion.model}" 
                         id="diagramaN"  style="height:600px" styleClass="ui-widget-content" />
            </p:panel>                                                      
                                                      

                    <br/>
                    <p:commandButton value="Listo" action="#{controladorBatalla.deshabilitarTablaNombres()}" ajax="false "
                                     update="@all" rendered="#{controladorBatalla.mostrarTablaNombres}"/>

                    
                    
                    
                    
                    
                    <br/>
                    <br/>
                    <p:panel header="Nombres de barcos" rendered="#{controladorBatalla.mostrarTablaNombres}">
                        <p:dataTable value="#{controladorBatalla.listaPintar()}"
                                     var="filaIn">
                            <p:column>
                                <f:facet name="header">
                                    <p:outputLabel value="Nombre"/>
                                </f:facet>
                                <p:outputLabel value="#{filaIn.nombre}"/>
                            </p:column>

                        </p:dataTable>
                    </p:panel>


                </h:form>


            </center>

        </p:panel>
        <center> 
            <h:form> 
                <br/>
                <br/>
                <B> <h2>  <p:outputLabel rendered="#{controladorBatalla.panelUsuarios}" value="CREAR JUGADORES"/></h2> </B>
                <br/>
                <br/>
                <p:panelGrid  rendered="#{controladorBatalla.panelUsuarios}" columns="2">

                    <p:outputLabel  value="Digite usuario"/>
                    <p:inputText disabled="#{controladorBatalla.limiteUsuarios}" value="#{controladorBatalla.correo}" />
                    <p:outputLabel value="Digite contraseña"/>
                    <p:inputText disabled="#{controladorBatalla.limiteUsuarios}" value="#{controladorBatalla.contrasena}" />
                    <p:outputLabel value="Tipo de jugador" />
                    <p:inputText disabled="#{controladorBatalla.limiteUsuarios}" value="#{controladorBatalla.tipoJugador}" />
                </p:panelGrid>
                <br/>
                <br/>
                <br/>
                
                
                
                <p:commandButton disabled="#{controladorBatalla.limiteUsuarios}" update="@all" ajax="false" action="#{controladorBatalla.crearUsuarios()}" 
                     rendered="#{controladorBatalla.panelUsuarios}" value="Crear"/>
              
                 <br/>
                 <br/>
                  
                 <p:commandButton value="Generar primer turno" action="#{controladorBatallaAplicacion.iniciarTurno()}" update="@all" ajax="false"
                                  />
                 <br/>
                 <br/>
                 <br/>
                 <br/>
                 
                 <p:panel header="Listado de usuarios" rendered="#{controladorBatalla.mostrarListadoUsuarios}">
                      
                      <p:dataTable value="#{controladorBatalla.listarUsuarios()}"
                                     var="filaIn">
                            <p:column>
                                <f:facet name="header">
                                    <p:outputLabel value="Usuario"/>
                                </f:facet>
                                <p:outputLabel value="#{filaIn.correo}"/>
                            </p:column>
                               <p:column>
                                <f:facet name="header">
                                    <p:outputLabel value="Contraseña"/>
                                </f:facet>
                                   <p:outputLabel value="#{filaIn.contrasena}"/>
                            </p:column>
                          <p:column>
                                <f:facet name="header">
                                    <p:outputLabel value="Tipo de jugador"/>
                                </f:facet>
                              <p:outputLabel value="#{filaIn.tipoRol}"/>
                            </p:column>
                        </p:dataTable>
                    </p:panel>
                
                
            </h:form>
        </center>
    </h:body>



</html>

