<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
      <p:growl id="grwErrores"/>
        <br/>       
        <br/>       
        <br/>       
        <center>  
        <h:form> 
            <h1>   <B>   <p:outputLabel value="INGRESE USUARIO Y CONTRASEÑA"/> </B>  </h1> 
            <br/>
            <br/>
            <br/>
            <p:panelGrid  columns="2" rendered="#{beanSecion.habilitarPanel}"> 
                <p:outputLabel  value="Usuario"/>
                <p:inputText  required="true" value="#{beanSecion.usuarioIngresado}" />
                <p:outputLabel value="Contraseña"/>
                <p:inputText  required="true" value="#{beanSecion.contraseñaIngresada}"/>
                 </p:panelGrid>
            <br/>
            <br/>
            <br/>
            <p:commandButton value="Ingresar" action="#{beanSecion.autenticacion()}" update="@all" ajax="false" rendered="#{beanSecion.habilitarPanel}"/>
       
            
            <p:panelGrid  columns="2" rendered="#{beanSecion.mostrarSegundoPanel}"> 
                <p:outputLabel  value="Jugador"/>
                <p:inputText  required="true" value="#{beanSecion.usuariosIngresado}" />
                <p:outputLabel value="Contraseña"/>
                <p:inputText  required="true" value="#{beanSecion.contrasenaIngresada}"/>
                 </p:panelGrid>
            <br/>
            <br/>
            <br/>
            <p:commandButton value="Ingresar Jugador" action="#{beanSecion.autenticacionJugadores()}" update="@all" ajax="false" rendered="#{beanSecion.mostrarSegundoPanel}"
                             />
           
            
        
        </h:form>
            </center>
    </h:body>
</html>

